XML/lab02/lessons_DTD.dtd

<!ELEMENT timetable (subjects)*>
    <!ELEMENT subjects (subject)*>
    <!ELEMENT subject (name|teacher|startDate|finishDate)*>
    <!ATTLIST subject
        id CDATA #REQUIRED>
    <!ELEMENT name (#PCDATA)>
    <!ELEMENT teacher (#PCDATA)>
    <!ELEMENT startDate (#PCDATA)>
    <!ELEMENT finishDate (#PCDATA)>